<form method="POST" action="/travelers">
    <input type="text" name="firstname" placeholder="First name here">
    <input type="text" name="lastname" placeholder="Last name here">
    <input type="submit">
</form>