<!DOCTYPE html>
<html>
    <head>
        <title>Geocoding</title>
    </head>
    <body>
        <nav>
            <a href="/">Home</a>
            <a href="/favorites">Favorites</a>
        </nav>
        <%- body %>
    </body>
</html>