<!DOCTYPE html>
<html>
    <head>
        <title>Geocoding</title>
    </head>
    <body>
        <header>This is the header!</header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/favorites">Favorites</a></li>
            </ul>
        </nav>
        <%- body %>
        <footer>This is the footer!</footer>
    </body>
</html>